//variables.scss

//sizes for media queries

$small: 576px;
$medium: 768px;
$large: 992px;
$xl: 1200px;
$xxl: 1400px;

//font style

$general-font-family: 'Work Sans';

$section-name-text-color: #FF22B1;
$general-heading-color:  #1D1C39;
$general-subheading-color:  #0B0E1F;
$general-text-color:#494E6A;
$active-text-color:  #4461D7;

$text-weight-bold: 600;
$text-weight-medium: 500;
$text-weight-general: 400;

$text-size-heading: 40px;
$text-size-heading-mobile: 28px;
$text-size-subheading: 21px;
$text-size-subheading-mobile: 18px;
$text-size-name: 14px;
$text-size-general: 16px;
$text-size-general-mobile: 15px;

$text-line-height-name: 25px;
$text-line-height: 26px;
$text-line-height-heading: 41px;
$text-line-height-subheading: 25.2px;
$text-line-height-subheading-mobile: 21.6px;

//spacing

$space-xxs:  5px;
$space-xs:   10px;
$space-sm:   15px;
$space-md:   18px;
$space-lg:   34px;
$space-xl:   40px;


//colors
$general-background: #E1E6EE;
